/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav,{
	display: block;
}
}
body {
	line-height: 1;
	overflow-x: hidden;
	font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	font-family: 'Lora', serif;
	font-size: 3.313rem;
	font-weight: 500;
	color: #E9F1F2;
	height: 100%;
	z-index: 5;
	display: inline-block;
	text-align: center;

}
 h1::after{
	content: '.';
	font-size: 0;
	display: block;
	width: 100%;
	height: 6px;
	background:#EA2996;
	margin: 15px 0px;
	border-radius: 35px;
	z-index: 5;
}

	h2{font-family: 'Raleway', sans-serif; 
	text-decoration: none;
	font-weight: 400;
	font-size: 1.5rem;
	text-decoration: none;
	color: #E9F1F2;
	letter-spacing:.02rem;
	text-align: center;
}
p{color: #E9F1F2;
	
	font-size: 17px;
	font-family: 'Raleway', sans-serif; 
	font-weight: 400;
	z-index: 5;
	letter-spacing:.05rem;
	line-height: 3rem;
	
text-align: center;}

input, textarea{
	font-size: .75rem;
	font-family: 'Raleway', sans-serif; 
	font-weight: 400;
	z-index: 5;
	letter-spacing:.05rem;
	line-height: 2rem;
	box-sizing: border-box;
}
a {text-decoration: none;}
/*-----background gradient----*/	
html{scroll-behavior: smooth;}
/*------Header------*/
.header{
	background: none;
	position: absolute;
	padding:0 7em 0 7em;
	z-index: 3;
	display: flex;
	width: 100%;
	align-items: center;
	top:1.375rem;
}
.logo img{
		width: 15.95rem;
		height: 4rem;
		position: relative;
		
	
}
nav{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

		
}
nav ul{list-style:none;	
	

	}
nav li { display: inline-block;
			font-family: 'Raleway', sans-serif; 
			text-decoration: none;
			color: #E9F1F2;
			font-size: .75rem;
			box-sizing: border-box;
			position:relative;
			margin-left: 2.5rem;

}
li a{ display: inline-block;
			font-family: 'Raleway', sans-serif; 
			font-weight: 300;
			text-decoration: none;
			color: #E9F1F2;
			padding: 5px 5px 5px 5px;
			box-sizing: border-box;
			text-transform: uppercase;
			letter-spacing:.25rem; 
			}

li a:hover{
	color: #EA2996;
}

.toggle-line {
	display: block;
	width:100%;
	height:3px;
	background-color: #E9F1F2;
	border-radius: 1px;
	margin: 6px 0;
}

.toggle-line:active{
	background-color: #EA2996;
}
.hamburger{
	width: 3.125rem;
	height: auto;
	background:none;
	border:none;
	display:none;
	padding: 3px;
	
}
.hamburger:focus{
	outline: none;

}

#act{color: #EA2996;
	text-decoration: underline;
	text-underline-offset: .6rem;
}
.bg{z-index: 0;
box-sizing: border-box; 
position: absolute;
background-repeat: no-repeat;
width: 100%;
min-height: 1080px;
overflow-x:hidden;
background: linear-gradient(180deg, rgba(0,6,84,1) 0%, rgba(186,0,174,1) 100%);
background-attachment:  fixed;
}

.clouds svg{
	
	width: 100%;
	min-width: 1920px;
	height: 300px;
	top: -9em;
	right: 0;
	position: absolute;
	z-index: 1;
	opacity: 50%;
}
.clouds1 svg{
	width: 100%;
	min-width: 1920px;
	height: 300px;
	top: 20em;
	left: 100em;
	position: absolute;
	z-index: 1;

	
}
/*------Welcome------*/

.wrapper{
	max-width: 1920px;
	margin: 0 auto;
	margin-top: 5.531rem;
	padding: 0 7em 0 7em;
	position: relative;
	
	
}
.welcome{			
	display: inline-block;
	padding:10.375rem 0 0 0;
	position: relative;
	

}
.button-wrap{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1.9rem 0;
	z-index: 10;
	position: relative;
}
.button-pink button{display: block;
	color: #E9F1F2;
	background-color:#EA2996;
	font-size: 17px;
	font-family: 'Raleway', sans-serif; 
	text-align: center;
	font-weight: 500;
	text-decoration: none;
	border: 2px solid transparent;
	width: 9.375rem;
	box-sizing: border-box;
	height: 2.5rem;
	border-radius: 5rem;
	margin: 0 1.219rem;
	transition: 0.8s;


}
.button-blue button{display: block;
	color: #E9F1F2;
	background-color:#297CEA;
	font-size: 17px;
	font-family: 'Raleway', sans-serif; 
	text-align: center;
	font-weight: 500;
	text-decoration: none;
	border: 2px solid transparent;
	width: 9.375rem;
	box-sizing: border-box;
	height: 2.5rem;
	border-radius: 5rem;
	transition: 0.8s;
	margin: 0 1.219rem;
}


.scroller{
	pointer-events:auto;
	z-index: 3;
	box-sizing: border-box;
  width: 4rem;
	height: 4rem;
	top: 8rem;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	transition: .8s;

	
}
.scroller svg{
	fill: #E9F1F2;
}
	

.scroller svg hover{
	fill: transparent;
	stroke:#E9F1F2;
	
}
.scroller svg:hover{
	transform: scale(.8);
	
}

.seeking-wrap {
	
	align-items: center;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	
	position: relative;
	z-index: 2;
	
}
.pink{color:#EA2996;}


.button-pink button:hover {
	color:#EA2996;
	border: 2px solid #EA2996;
	background-color: transparent;

}
.button-blue button:hover {
	color:#297CEA;
	border: 2px solid #297CEA;
	background-color: transparent;

}


/*------What We Do------*/

.what-we-do-wrap section{
	max-width: 100%;
	min-height: 100%;
	position: relative;
	margin: 0 auto;
	z-index: 5;
}

.what-bubbles-right svg{
	
	width: 6%;

	height: 550px;
	bottom: 600px;
	right: 5%;
	position: absolute;
	z-index: 3;
	
}
.what-bubbles-left svg{
	
	width: 6%;
	
	height: 550px;
	bottom: 600px;
	left: 5%;
	transform: scaleX(-1);
	position: absolute;
	z-index: 3;
	
	
}
.bubble-flow g{
	position: absolute;
	width: 100%;
}



.what-pad {
	padding: 1.4rem 0rem;
	position: relative;
	margin: 0 auto;
	width: 52%;


}

.what-we-do {
	max-width: 4000px;
	width: 100%;
	min-height: 1637px;
	margin-top: -100px;
	position: relative;
	display: block;
	text-align: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url(../images/waves.svg);
	box-sizing: border-box;
	padding: 750px 0 0 0;
	}
.services-wrap{
	width: 70%;
	z-index: 5;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-content: center;
	padding: 0 5rem;
	margin: 0 auto; 



	
	}
	.services{
		margin: 3rem 2%;
		position: relative;
		box-sizing: border-box;
		flex-basis: 15%;
		justify-content: center;
		text-align: center;
		z-index: 5;
    
    

}


.services p{
	font-weight: 500;
	padding: 1.4rem 0 3rem 0;
	position: relative;
	margin: 0 auto;
	line-height: 2rem;

}
.services object, .services svg{
	width: 7.8rem;
	z-index: 5;
	
}


.sun{
	position: absolute;
	box-sizing: border-box;
	z-index: 0;
	right:5em;
	top: 200px;
	background-image: url(../images/sun.svg);	
	width: 551px;
	height: 551px;
	


}


/*------Footer------*/
.footer{ 
width: 100%;
position: relative;
background-size: cover;
background-position: center;
background-image: url(../images/footer.svg);
z-index: 5;
background-repeat: no-repeat;
box-sizing: border-box;
display: flex;
padding: 20em 7em 0 7em;
align-items: flex-start;
justify-content: space-between;
flex-wrap: wrap;
}

.home-foot{
	margin-top:-300px;
}

.footer-left{
	
	width:250px;
	height:auto;
	display: flex;
	flex-direction: column;
	text-align: left;
	
}
.footer-left p{
	font-size: 15px;
	font-family: 'Raleway', sans-serif; 
	font-weight: 600;
	z-index: 5;
	height: 100%;
	letter-spacing:.05rem;
	line-height: 2rem;
	align-items: center;
	text-align: center;
	display: inline-block;


}
.footer-left p:after, .footer-right p::after{
	content: '.';
	font-size: 0;
	display: block;
	width: 100%;
	height: 3px;
	background:#EA2996;
	margin: 15px 0px;
	border-radius: 35px;
	z-index: 5;

}
.footer-left li a{

	font-size: 15px;
	font-family: 'Raleway', sans-serif; 
	font-weight: 400;
	z-index: 5;
	letter-spacing:.05rem;
	line-height: 2rem;
	text-transform: lowercase;
	padding: .5rem;
	box-sizing: border-box;
}
.footer-left a::hover {

	background-color: #EA2996;
	}
.copyright{
	margin-top: 0px;
	padding-top: 10px;
	width: 100%;
}
.copyright p{
	
	font-size: 14px;
	height: auto;
	display: block;
	align-self: center;
	opacity: 42%;
}
.footer-right {
	
	width: 154px;
	height:auto;
	flex-direction: column;
	display: flex;

}


.footer-right ul{
	display: flex;
	justify-content: space-between;
}
.footer-right p{
	font-size: 15px;
	font-family: 'Raleway', sans-serif; 
	font-weight: 600;
	z-index: 5;
	height: 100%;
	letter-spacing:.05rem;
	line-height: 2rem;
	align-items: center;
	text-align: center;
	display: inline-block;
}
.mail{padding-right: 1rem;
	height: auto;
	width: 40px;
	float: left;
	fill:#e9f1f2;

}
.mail svg:hover, .socials svg:hover{ fill:#EA2996;

}
.phone{padding-right: 1rem;
	height: auto;
	width: 40px;
	float: left;
	fill:#e9f1f2;

}
.phone svg:hover{ fill:#EA2996;

}

.socials{
	fill:#e9f1f2;
}

/*-----Employers----*/

.employer-wrapper{
	position: relative;
	width: 100%;
	height: auto;
	padding-top: 16.5rem;
	background: linear-gradient(242deg, rgba(0,6,84,1) 0%, rgba(103,0,141,1) 100%);

}
.employer{
	position: relative;
	width: 600px;
	display: block;
	text-align: center;
	padding-left: 9.5rem;
	z-index: 2;
}
.employer h2{
	padding:2rem 0 2rem 0;
}
.employer h1{
	height:0;
}
.employer p{
	padding-bottom: 2em;
	
}
.employer-fish svg{
	width: 600px;
	z-index: 3;
	display: block;
	position: absolute;
	right: 7em;
	padding: 5px;
	z-index: 1;
	
}
.wrap{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	padding-bottom: 5rem;

}

.employer .button-pink button {
	width: 12rem;
	margin: 0 auto;
}




/*------Job Seekers------*/

.job-seeker-wrapper{
	position: relative;
	width: 100%;
	height: auto;
	z-index: 1;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
	
	background: linear-gradient(0deg, rgba(3,5,85,1) 0%, rgba(0,55,156,1) 100%);
}
.job-seeker{
	position: relative;
	width: 1000px;
	display: block;
	text-align: center;
	margin:0 auto;
	padding: 16.5rem 7em 0 7em;
}
.job-seeker h2{
	padding: 2rem 0 2rem 0;
}
.job-seeker h1{
	height: 0;
}
.seeker-bg{
	position: relative;
	display: flex;
	background-position:center;
	background-size: cover;
	flex-direction: row;
	max-width: 100%;
	min-height: 1200px;
	background-repeat: no-repeat;
	background-image: url(../images/seeker-bg.svg);
}
.seeker-bg .button-pink, .seeker-bg .button-blue{
	padding: 0 3rem;
}

.job-seeker .button-pink button{
	width: 11rem;
}
.job-seeker .button-blue button{
	width: 11rem;
}

/*------About-------*/
.about-wrapper{
	position: relative;
	width: 100%;
	height: auto;
	background-size: 100% 100%;
	z-index: 1;
	box-sizing: border-box;
	display: inline-block;
	background-repeat: no-repeat;
	text-align: center;
	background-position: center;
	background-image: url(../images/About-bg.svg);
	overflow: hidden;
}
.about-bg{
	position: relative;
	padding: 0 7rem 0 10rem;
	background-position:center;
	background-size: cover;
	max-width: 100%;
	top:100px;
	bottom: 0;
	min-height: 2600px;
	background-repeat: no-repeat;
	background-image: url(../images/ship.svg);
	overflow-x: hidden; 

}
.about{
	
	position: relative;
	width: 500px;
	display: block;
	text-align: left;
	padding: 10.375rem 0 0 0 ;
	
}
.about p{
	padding-bottom: 2rem;
text-align: left;
	padding-top: 2rem;
	max-width: 40rem;
	
	
	
}
.about h1{
	height: 0;

}
.about-pic img{
	width: 250px;
	z-index: 3;
	padding: 10px;
	top: 100px;
	position: relative;
	
}
.about-bg .wrap{
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: space-between;
	

}
#fish img{
	width: 350px;
}
#turtle img{
	width: 400px;
	top: 150px;
}

/*------Contact------*/
.form-wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	padding-bottom: 5rem;
	justify-content: center;

}

.bg-modal{
	width:100%;
	height:100%;
	background-color: rgba( 0, 0, 0, 0.7);
	justify-content:center;
	align-items: center;
	position: fixed;
	top:0;
	display:none;
	z-index: 10;
	backdrop-filter: blur(8px);
	
}

.bg-modal.active {
  display: flex;
}


.contact-modal{
	max-width: 80vw;
	max-height: 80vh;
	padding: 3%;
	background-color: white;
	border-radius: 20px;
	text-align: center;
	overflow: auto;
	position: relative;
	background: radial-gradient(circle, rgba(0,204,255,1) 0%, rgba(101,136,227,1) 100%);

}
.close{
	position: absolute;
	top: 0;
	left: 2rem;
	font-weight: bold;
	font-size: 72px;
	transform: rotate(45deg);
	cursor: pointer;
	color:#E9F1F2;
}
.contact-modal h1::after{
	display: none;
}
.contact-modal .button-pink, .contact-modal .button-blue{
	padding: 0 3rem;
}
.contact-modal p {
	padding: 2em 73px;
	text-align: left;
}
.form-left{
	display: flex;
	flex-direction: column;
	min-width: 50%;
	padding: 0 73px;
}
.form-right{
	display: flex;
	flex-direction: column;
	min-width: 50%;
	padding: 0 73px;
}
.form-right button:last-child{
	 margin-left: auto;
 	 margin-right: 0;
  	

}
.form-left input{
	border:none;
	margin: 1em 0;
	padding: .5em .7em;
	border-radius: 10px;
	
}
.form-right input, .form-right textarea{
	border:none;
	margin: 1em 0;
	padding: .5em .7em;
	border-radius: 10px;
}
#message{
	padding-bottom: 7.7em;
}
#submit-button {
	position: relative;
	padding: 1.5em 0;
	
	box-sizing: border-box;
}

.blue-bubble{
	left: 2%;
	position: absolute;
	bottom: 2rem;
	width: 76px;
	height: 289px;
}
.pink-bubble{
	right: 2%;
	position: absolute;
	top: 2rem;
	width: 76px;
	height: 289px;
}

/*------thankyou-------*/
.thankyou-wrapper{
		position: relative;
	
	
	box-sizing: border-box;
	display: inline-flex;
	background-repeat: no-repeat;
	text-align: center;
	align-items: center;
	background: black;
	justify-content: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}


}
.thankyou{
	
	position: absolute;
}
/*------Media-------*/
@media only screen and (max-width: 1400px){
	.sun{
	width: 380px;
	height: 380px;
	top:250px;
	}
	.clouds{
	width: 800px;
		top: -30px;
		opacity:30%;
	}
	.what-bubbles-left, .what-bubbles-right{
	bottom: 600px;
	}
	.what-we-do{
		min-height: 0px;
		padding: 650px 0 100px 0;
		background-origin: border-box;
	}
	.services-wrap{
		padding: 1rem 7rem 7rem 7rem;
		width: 100%;
	}
	
}

@media only screen and (max-width: 1200px){

.what-bubbles-left, .what-bubbles-right{
	display: none;}


.scroller{
	display: none;

}
	.button-blue button{
	margin: 1rem 1.219rem;
}
.button-pink button{
	margin: 1rem 1.219rem;
}
.button-wrap{
	padding: .9rem;
	}
	nav li{
		margin-left: 1rem;
	}
	
	.services-wrap{
		padding: 1rem 2rem 10rem 2rem;
		width: 90%;
	}

	.what-we-do{
		padding:600px 0 0 0;
		min-height: 1000px;
	}
	.what-pad{
		width: 75%;
		padding-bottom: 1rem;
	}
	
	.employer-fish svg{
	opacity: 10%;
	width: 1300px;
	top:-14%;
	left:43%;
	transform: translateX(-50%) rotate(-160deg) skew(-30deg, 40deg);
	margin: 0 auto;
	position: fixed;
	}

.employer{
	margin: 0 auto;
	width: 100%;
	padding: 0 2em 0 2em;
	
}

	.job-seeker{
	margin: 0 auto;
	width: 100%;
	padding: 16.5rem 7em 0 7em;}

	.about-pic{
		padding: 0 2em;
		margin-top:-25%
	}
	.about-bg{
		padding: 0 7rem 0 10rem;
	}
	.about{
		padding: 16.5rem 0;
		
	}

	.contact-modal{
		max-width: 100vw;
		max-height: 100vh;
		padding: 6rem 3%;
	}
	.blue-bubble, .pink-bubble{
		display: none;
	
}
	.close{
		font-size: 3rem;
		top: 3%;
	}

}


@media only screen and (max-width: 992px){
	.nav-ul{
		display:none;
		width:100%;

	}

	.nav-ul.show{
		display: block;
		position: absolute;
		flex-direction: column;
		top: -1.25rem;
		align-items: flex-end;
		padding-right: 1rem;
		width: 10rem;
	}

	nav li{
		margin: 0 auto;
	
		width: 100%;
		height: auto;
		display: block;
		text-align: left;
		background: linear-gradient(90deg, hsla(251, 97%, 11%, 1) 0%, hsla(251, 97%, 11%, 0) 75%);
		padding-left: 1rem;
		padding-right: 250px;
		padding-top: .5rem;
		padding-bottom: .1rem;
		


	}
	nav li a{
		white-space: nowrap;
	}
  
	.hamburger{
	display: block;
	z-index: 2;
}
	.welcome section{
		z-index: 1;
	}
.header{
  	padding:0 2em;
  	justify-content: space-around;
	
		
  }
  .logo img{
  	width: 100%;
  	height: auto;
  }
#act{color:#E9F1F2;}

.what-we-do{
	background-position: center;
	background-size: cover;
  padding: 500px 0 0 0;
	top: 1rem;
	
		
}
	.services-wrap{
		padding: 1rem 2rem 7rem 2rem;
		width: 100%;
	}

	.sun{
		opacity: 100%;
	
	top:100%;
	left: 50%;
	transform: translate(-50%);
		
	}	
	.clouds svg{
		left:-2em;
		right:2em;
		top: -12em;
			
	}
	 .welcome{
  	padding: 6.375rem 0 0 0;
  	width: 100%;
  }

  .seeking-wrap{
  	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;


  }
	.job-seeker{
			padding-right: 2em;
	padding-left: 2em;
	}
	h1 {
  	font-size: 2.5rem;
  }
  h1::after{
  	height: 3px;
  }
	 h2{
  	font-size: 1.5rem;
  }
	.services{
		margin: 1rem 0;
		padding: 0 1rem;
		
		width: 100%;}
		.services p{
			padding:  1rem 0 1rem 0;
			font-size: 12px;
			line-height: 1.4rem;
		}
    
	p{line-height: 2.5rem;}

	.about p{
		width: 100%;
	}

.services object, .services svg{
	width: 6rem;
	
}
	.about-pic {
	display: none;
		
	}
	.about p{
		max-width: 100%;
	}
	.about{
		padding-bottom: 0;
	}
	.about-bg{
		padding: 0 7rem 0 7rem;
	}
	
	
}
@media only screen and (max-width: 768px){

	.what-we-do{
		padding: 600px 0 0 0;
		background-position-x: 50%;
		margin-top: -100px;

	}	

	.sun{
		display: none;
	}
	.seeking-wrap{
		padding:0;
	}
	.wrapper{
		padding: 0 2em 0 2em;
	}
	.footer-right{
  		margin-top: 30px;
  	}
  	 .copyright p{margin-bottom: 10px;
			 
  	 	}
  	 .copyright{
			 order:3;
	}
.footer{background-image:none;
  		background-color: #0B0139;
  		padding: 3em 2em 0 2em;
  		justify-content: center;
  		
  	}
  	.footer-left, .footer-right{
  		margin: 0 auto;
  		width: 210px;
			padding-bottom: 2rem;
  	}

  	.home-foot{
  		margin-top: -4px;
  	}
	
	.seeker-bg{
		min-height: 900px;
	}
	.form-right button:last-child{
	 margin-left: auto;
 	 margin-right: auto;
  	

}
	.form-left, .form-right{
		width: 100%;
		padding: 0 2em;
	}
	.contact-modal p {
		padding: 2em;
		text-align: center;
	}
	.about-bg{
		padding: 0 2em;
	}
	.clouds1 svg{
		left:0;
		top:22em;
	}
	
}
@media only screen and (max-width: 568px){
	.what-pad{
		width: 100%;
	}
	.services-wrap{
		padding: 0;
	}
	.what-we-do{
		padding: 600px 0 0 0;
		background-position-x: 70%;
		background-size: 100% 100%;
		-webkit-background-size: 1920px 100%;
      -moz-background-size: 1920px 100%;
      -o-background-size: 1920px 100%;
		margin-top: -100px;
			}	
}

/*---------anime.js classes-------*/
.plus, .big-gear, .small-gear, .erp-flow, .hashi, .fish-swirl{
	transform-origin: 50% 50%;
  	transform-box: fill-box;


}
.hammer{
	transform-origin: 80px 80px;
  	transform-box: fill-box;
}
.soba{
	transform-origin: 50% 25px;
  	transform-box: fill-box;
}




