/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
	font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
	font-family: 'Lora', serif;
	font-size: 3.313rem;
	font-weight: 500;
	color: #E9F1F2;
	height: 100%;
	z-index: 5;
	display: inline-block;
	text-align: center;

}
 h1::after{
	content: '.';
	font-size: 0;
	display: block;
	width: 100%;
	height: 6px;
	background:#EA2996;
	margin: 15px 0px;
	border-radius: 35px;
	z-index: 5;
}

	h2{font-family: 'Raleway', sans-serif; 
	text-decoration: none;
	font-weight: 400;
	font-size: 1.5rem;
	text-decoration: none;
	color: #E9F1F2;
	letter-spacing:.02rem;
	text-align: center;
}
p{color: #E9F1F2;
	
	font-size: 17px;
	font-family: 'Raleway', sans-serif; 
	font-weight: 400;
	z-index: 5;
	letter-spacing:.05rem;
	line-height: 2rem;
text-align: center;}
/*-----background gradient----*/	
body{z-index: 0;
	box-sizing: border-box;
	
	background-repeat: no-repeat;
	
	background: linear-gradient(180deg, rgba(0,6,84,1) 0%, rgba(186,0,174,1) 100%);}
html{scroll-behavior: smooth;}
/*------Header------*/
.header{
	background: none;
	position: absolute;
	padding:0 7em 0 7em;
	z-index: 3;
	display: flex;
	width: 100%;
	align-items: center;
	top:1.375rem;
}
.logo img{
		width: 15.95rem;
		height: 4rem;
		position: relative;
		
	
}
nav{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

		
}
nav ul{list-style:none;	

	}
nav li { display: inline-block;
			font-family: 'Raleway', sans-serif; 
			text-decoration: none;
			color: #E9F1F2;
			font-size: .75rem;
			box-sizing: border-box;
			position:relative;
			margin-left: 2.5rem;

}
li a{ display: inline-block;
			font-family: 'Raleway', sans-serif; 
			font-weight: 300;
			text-decoration: none;
			color: #E9F1F2;
			padding: 5px 5px 5px 5px;
			box-sizing: border-box;
			text-transform: uppercase;
			letter-spacing:.25rem; 
			}

li a:hover{
	color: #EA2996;
}

.toggle-line {
	display: block;
	width:100%;
	height:3px;
	background-color: #E9F1F2;
	border-radius: 1px;
	margin: 6px 0;
}

.toggle-line:active{
	background-color: #EA2996;
}
.hamburger{
	width: 3.125rem;
	height: auto;
	background:none;
	border:none;
	display:none;
	padding: 3px;
	
}
.hamburger:focus{
	outline: none;

}

#act{color: #EA2996;
	text-decoration: underline;
	text-underline-offset: .6rem;
}

/*------Welcome------*/

.wrapper{
	width: 100%;
	height: 100%;
	margin-top: 5.531rem;
	min-height: 67.5rem;
}
.welcome{			
	display: inline-block;
	padding:9.375rem 7em 0 7em;

	
}
.button-wrap{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding-top: 1.9rem;
}
.button-pink button{display: block;
	color: #E9F1F2;
	background-color:#EA2996;
	font-size: 17px;
	font-family: 'Raleway', sans-serif; 
	text-align: center;
	font-weight: 500;
	text-decoration: none;
	border-style: none;
	width: 9.375rem;
	box-sizing: border-box;
	height: 2.5rem;
	border-radius: 5rem;
	margin: 0 auto;

}
.button-blue button{display: block;
	color: #E9F1F2;
	background-color:#297CEA;
	font-size: 17px;
	font-family: 'Raleway', sans-serif; 
	text-align: center;
	font-weight: 500;
	text-decoration: none;
	border-style: none;
	width: 9.375rem;
	box-sizing: border-box;
	height: 2.5rem;
	border-radius: 5rem;
}


.scroller{
	pointer-events: auto;
	z-index: 3;
	box-sizing: border-box;
	width:2.438rem;
	height:2.313rem;
	top: 3.125rem;
	position: relative;
	
}
.seeking-wrap{
	
	align-items: center;
	box-sizing: border-box;
	height: auto;
	width: 100%;
	
}
.pink{color:#EA2996;}

}

/*------What We Do------*/

.what-we-do-wrap section{
	width: 100%;
	height: auto;
	position: relative;
	
	z-index: 5;

	

}
.what-pad {
	padding: 1.4rem 2em;
}

.what-we-do {z-index: 5;
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	text-align: center;
	padding-right: 7em;
	padding-left: 7em;
	padding-top: 45%;
	}
.services-wrap{
	width: 60%;
	z-index: 5;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	margin: 0 auto; 



	
	}
	.services{
		margin: 1rem;
		position: relative;
		box-sizing: border-box;
		flex-basis: 15%;
		justify-content: center;
		text-align: center;



}


.services p{
	font-weight: 500;
	padding: 1.4rem 0 0 0;
	position: relative;

}
.services img{
	width: 7.8rem;
	height: 7.8rem;
}

.waves{
width: calc(100% + 2rem);
left: -12px;
position: absolute;
top: 18.5rem;
z-index: 2;
min-height: 1080px;
background-size: cover;
background-repeat: no-repeat;
background-image: url(../images/waves.svg);
box-sizing: border-box;
}

.sun img{
	position: absolute;
	box-sizing: border-box;
	z-index: 1;
	top: 16rem;
	height: auto;
	right:150px;
	
width: 24vw;


}


/*------Footer------*/
.footer{ 
width: 100%;
margin-top: 2rem;
position: relative;
background-size: cover;
background-position: center;
background-image: url(../images/footer.svg);
z-index: 5;
background-repeat: no-repeat;
box-sizing: border-box;
display: flex;
padding: 16em 7em 0 7em;
align-items: flex-start;
justify-content: space-between;
flex-wrap: wrap;




}

.footer-left{
	
	width:250px;
	height:auto;
	display: flex;
	flex-direction: column;
	text-align: left;
	
}
.footer-left p{
	font-size: 15px;
	font-family: 'Raleway', sans-serif; 
	font-weight: 600;
	z-index: 5;
	height: 100%;
	letter-spacing:.05rem;
	line-height: 2rem;
	align-items: center;
	text-align: center;
	display: inline-block;


}
.footer-left p:after, .footer-right p::after{
	content: '.';
	font-size: 0;
	display: block;
	width: 100%;
	height: 3px;
	background:#EA2996;
	margin: 15px 0px;
	border-radius: 35px;
	z-index: 5;

}
.footer-left li a{

	font-size: 15px;
	font-family: 'Raleway', sans-serif; 
	font-weight: 400;
	z-index: 5;
	letter-spacing:.05rem;
	line-height: 2rem;
	text-transform: lowercase;
	padding: .5rem;
	box-sizing: border-box;
}
.footer-left a::hover {

	background-color: #EA2996;
	}
.copyright{
	margin-top: 0px;
	padding-top: 10px;
	width: 100%;
}
.copyright p{
	
	
	height: auto;
	display: block;
	align-self: center;
	opacity: 42%;
}
.footer-right {
	
	width: 154px;
	height:auto;
	flex-direction: column;
	display: flex;

}


.footer-right ul{
	display: flex;
	justify-content: space-between;
}
.footer-right p{
	font-size: 15px;
	font-family: 'Raleway', sans-serif; 
	font-weight: 600;
	z-index: 5;
	height: 100%;
	letter-spacing:.05rem;
	line-height: 2rem;
	align-items: center;
	text-align: center;
	display: inline-block;
}
.mail{padding-right: 1rem;
	height: auto;
	width: 40px;
	float: left;
	fill:#e9f1f2;

}
.mail svg:hover, .socials svg:hover{ fill:#EA2996;

}
.phone{padding-right: 1rem;
	height: auto;
	width: 40px;
	float: left;
	fill:#e9f1f2;

}
.phone svg:hover{ fill:#EA2996;

}

.socials{
	fill:#e9f1f2;
}

/*-----Employers----*/

.employer-wrapper{
	position: relative;
	width: 100%;
	height: auto;
	z-index: 1;
	padding-top:16.5rem;
	background: linear-gradient(242deg, rgba(0,6,84,1) 0%, rgba(103,0,141,1) 100%);

}
.employer{
	position: relative;
	width: 600px;
	display: block;
	text-align: center;
	padding-left: 9.5em;
	
}
.employer h2{
	padding:2rem 0 2rem 0;
}
.employer h1{
	height:0;
}
.employer p{
	padding-bottom: 2em;
	
}
.employer-fish img{
	width: 500px;
	z-index: 3;
	display: block;
	position: absolute;
	right: 7em;
	padding: 5px;
	
	
}
.wrap{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;

}


/*------Media-------*/

@media only screen and (max-width: 1100px){

.scroller{
	display: none;
}
.button-blue button{
	margin-left: 2.438rem;
}
.nav-ul{
		display:none;
		width:100%;

	}

	.nav-ul.show{
		display: block;
		position: absolute;
		flex-direction: column;
		top: -1.25rem;
		align-items: flex-end;
		padding-right: 1rem;
		width: 10rem;



		
			
	}

	nav li{
		margin: 0 auto;
		border: 1px solid #EA2996;
		width: 14.375rem;
		height:auto;
		display: block;
		text-align: left;
		background:#EA2996;
		padding-left: 1.2rem;
		padding-top: .2rem;
		padding-bottom: .2rem;

		
		

	}
  
	.hamburger{
	display: block;
	z-index: 2;
}

.header{
  	padding:0 2em;
  	
  	justify-content: space-around;
  }
  .logo img{
  	width: 100%;
  	height: auto;
  }

#act{color:#E9F1F2;}
.sun{
	display: none;
}

.welcome{
	padding:6.375rem 2em 0 2em;


}

/*.what-we-do{
	margin-top: 7rem;
}

/*.waves{
	background-size: 100% 100%;
}*/

 .footer{background-image:none;
  		background-color: #0B0139;
  		padding: 3em 7em 0 7em;
  		justify-content: center;


  	}
  	.footer-left, .footer-right{
  		margin: 0 auto;
  		width: 250px;
  	}






.employer-fish img{
	opacity: 30%;
	width:800px;
	top: -100px;
	margin: 0 auto;
	position: fixed;}

.employer{
	margin: 0 auto;
	width: 100%;
	padding: 0 7em 0 7em;
}
}



@media only screen and (max-width: 576px) 

{

.button-blue button{
	margin-left: 1.219rem;
}	

.what-we-do{
	margin-top: 20rem;
}


  h1 {
  	font-size: 2rem;
  }
  h1::after{
  	height: 3px;
  }

  

  .welcome{
  	padding: 6.375rem 0 0 0;
  	width: 100%;
  }

  .seeking-wrap{
  	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	padding-right: 2em;
	padding-left: 2em;
	
  }
  h2{
  	font-size: 1.2rem;
  }


  	
  	.footer-right{
  		margin-top: 30px;
  	}
  	 .copyright p{margin-top:30px;
  	 	}
  	 .copyright{order:3;}
  }
  

}